* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100svh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 243, 211);
}



.cardSection {
  padding: 1rem 5rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(241, 215, 181);
  box-shadow: -7px 8px 8px 0px rgba(34, 60, 80, 0.2);;
}

main {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
}

footer {
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: end;
  border-top: dashed black 1px;
  margin-top: 1rem;

}

a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  font-weight: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: 2px solid black;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: rgb(241, 215, 181);
}
 
button {
  font-family: 'Inter', sans-serif;
  padding: 0.3rem;
}

button:hover {
  transform: scale(1.1)
}

#dialogBtn {
  background-color: rgb(182, 185, 187);
  border: black solid 3px;
  height: 5rem;
  width: 12rem;
  align-self: center;
  justify-self: end;
  margin-top: auto;
}

.removeBtn {
  background-color: rgb(196, 73, 73);
}

.statusBtn {
  background-color: rgb(182, 185, 187);
}

.removeBtn, .statusBtn {
  margin: 0 0.5rem;
}

dialog{
  font-size: 1.8rem;
  align-items: center;
  background-color: rgb(236, 235, 234);
}

dialog button {
  width: 10rem;
  margin: 0.5rem 0;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 3px;
}

form div {
  margin: 0.5rem 1rem;
}
